.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-wrapper {
  width: 750px;
  height: 200px;
  padding: 30px;
  background-color: rgba(240, 64, 71, 0.9);
  display: flex;
}

.control-wrapper {
  position: relative;
  flex-grow: 1;
}

.tracks-wrapper {
  color: white;
  border-left: 1px solid rgba(30, 30, 30, 0.1);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player-img {
  background-position: center;
  background-size: cover;
  width: 150px;
  height: 150px;
}

.player-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
}

.player-btns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.7em;
  color: white;
  position: absolute;
  bottom: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.player-btns i:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.timeline {
  position: absolute;
  transform: translateX(-50%);
  top: 50%;
  left: 50%;
  border-radius: 2px;
  background-color: lightgrey;
  height: 5px;
  width: 70%;
}

.progress {
  background-color: white;
  height: 5px;
  width: 0%;
}

.current-track {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 0;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
}

.tracks {
  width: 100%;
}

.track {
  cursor: pointer;
  padding: 2px 0px;
}

.active {
  background-color: rgba(240, 240, 240, 0.2);
  font-weight: bolder;
}
