.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.player-wrapper {
  width: 750px;
  height: 200px;
/*  border: 1px solid black;*/
  /*border-radius: 7px;*/
  display: flex;
}

.control-wrapper {
  position: relative;
  background-color: rgba(240, 64, 71, 0.9);
  flex-grow: 1;
}

.tracks-wrapper {
  background-color: rgba(240, 64, 71, 0.9);
  color: white;
  border-left: 1px solid rgba(30, 30, 30, 0.3);
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.player-img {
  background-position: center;
  background-size: cover;

  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  width: 200px;
}

.player-control {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.player-btns {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timeline {
  position: absolute;
  transform: translateX(-50%);
  top: 50%;
  left: 50%;
  border-radius: 2px;
  background-color: lightgrey;
  height: 5px;
  width: 70%;
}

.progress {
  background-color: white;
  height: 5px;
  width: 0%;
}

.current-track {
  position: absolute;
  transform: translateX(-50%);
  left: 50%;
  top: 15%;
  color: white;
  font-weight: bold;
  font-size: 1.7em;
}

.track {
  cursor: pointer;
}

.active {
  font-weight: bolder;
}
